<%= render 'landing_pages/banner' %>
<div id="content">
    <%= render 'landing_pages/offers' %>
    <%= render 'landing_pages/upcoming_offers' %>
    <%= render 'landing_pages/feature_products' %>
    <%= render 'landing_pages/best_seller_products' %>
    <%= render 'landing_pages/new_arrivals' %>
    <%= render 'landing_pages/our_customers' %>
</div>
