<%= cell LandingPage::Cell::Sections::Banner, banners %>
<div id="content">
  <%= cell LandingPage::Cell::Sections::Offers %>
  <%= cell LandingPage::Cell::Sections::UpcomingOffers %>
  <%= cell LandingPage::Cell::Sections::FeatureProducts, featured_products %>
  <%= cell LandingPage::Cell::Sections::BestSellerProducts, best_sellers %>
  <%= cell LandingPage::Cell::Sections::NewArrivals %>
  <%= cell LandingPage::Cell::Sections::OurCustomers %>
</div>
