<div id="content">
  <%= cell(Lib::Cell::Breadcrumb) %>
  <%= cell(Products::Cell::Elements::DiscountBanner) %>
    <section class="list-page">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="sidebar">
              <%= cell(Products::Cell::Elements::PriceSelector) %>
              <%= cell(Products::Cell::Elements::TypeSelector) %>
              <%= cell(Products::Cell::Elements::OccasionSelector) %>
              <%= cell(Products::Cell::Elements::CategorySelector) %>
            </div>
            </div>
            <div class="col-md-9">
              <div class="filter-section clearfix">
                <%= cell(Products::Cell::Elements::SortingAndView, model,
                         url_params: options[:url_params], view_type: options[:view_type]) %>
                <%= cell(Products::Cell::Elements::TopRightFilter, model, url_params: options[:url_params]) %>
              </div>
              <%= cell(Products::Cell::Elements::ProductList, model, view_type: options[:view_type]) %>
              <div class="bottom-pagination clearfix">
                <%= cell(Products::Cell::Elements::Paginator, model, url_params: options[:url_params]) %>
              </div>
            </div>
          </div>
        </div>
    </section>


</div>
