<div class="product-wrapper">
	<div class="row">
  	<div class="col-sm-3">
    	<div class="product-box">
        <% if new_product? %>
          <div class="new-label"><span>NEW</span></div>
        <% end %>
        <div class="img">
          <%= image %>
          <% if discount %>
            <span class="discount"><%= discount %></span>
          <% end %>
        </div>
        <div class="hover-block">
          <ul class="list-inline">
            <li><a href="product-detail.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quickview"><i class="fa fa-search" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
    	<div class="product-detail">
        <div class="name"><%= name %></div>
        <p><%= description %></p>
        <div class="price">
          <span><%= price %></span>
          <% if old_price %>
            <span class="old-price"><%= old_price %></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
