<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    <title>Вход для администратора</title>

    <%= stylesheet_link_tag 'active_admin.css', media: 'screen' %>
    <%= stylesheet_link_tag 'active_admin/print.css', media: 'print' %>
    <%= javascript_include_tag 'active_admin.js' %>

    <%= csrf_meta_tag %>
  </head>

  <body class="index admin_dashboard active_admin logged_in admin_namespace">
    <div id="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
