<footer id="footer">
  <div class="container">
      <div class="top-footer">
        <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>КОНТАКТЫ</h4>
                            <address>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i><%= address %></p>
                                <p><i class="fa fa-envelope-o" aria-hidden="true"></i><%= email %></p>
                            </address>
                        </div>
                        <div class="col-sm-6">
                          <h4>ИНФОРМАЦИЯ</h4>
                          <ul class="list-unstyled">
                              <li><%= link_to 'Доставка', shipping_path %></li>
                              <li><%= link_to 'Оплата', payment_path %></li>
                              <li><%= link_to 'Возврат', return_path %></li>
                              <li><%= link_to 'Вопросы и ответы', faq_path %></li>
                          </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                  <h4>Социальные сети</h4>
                  <ul class="list-inline social-links">
                      <% social_networks.each do |social_network| %>
                        <li><%= social_network %></li>
                      <% end %>
                  </ul>
                </div>
            </div>
        </div>
        <div class="bottom-footer">
          <div class="row">
              <div class="col-md-4">
                  <span class="copyright">©<span class="year">2018</span> chocolate.com. All rights reserved</span>
                </div>
                <div class="col-md-8">
                  <ul class="list-inline">
                        <li><%= link_to 'О нас', about_us_path %></li>
                        <li><%= link_to 'Условия пользования', terms_path %></li>
                        <li><%= link_to 'Контакты', contacts_path %></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
