<section class="offers section-block">
  <div class="container">
    <div class="heading">
      <span><%= title %></span>
    </div>
    <div class="offers-slider">
      <% offers.each do |offer| %>
        <div class="col-md-4">
          <div class="offer-box">
            <%= image_tag offer.image.url%>
            <div class="hover-block">
              <h3><%= offer.title %></h3>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="special-offer">
      <%= image_tag special_offer.image.url, class: 'img-responsive'%>
      <div class="offer-detail">
        <div class="row">
          <div class="col-md-4">
            <h2><%= special_offer.title %></h2>
            <p><%= special_offer.short_description %></p>
            <%= buy_now_link %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
