<div id="content">
  <section class="inner-content">
    <div class="container static-page">
    	<div class="contact-us">
        <div class="heading"><span><%= title %></span></div>
        <%= body %>
        <div class="contact-form">
          <h3>Форма обратной связи</h3>
        	<div class="row">
          	<div class="col-md-6">
              <%= form_tag(messages_path, method: :post) do %>
                <div class="form-group">
                  <%= label_tag(:name, 'Ваше имя *') %>
                  <%= text_field_tag(:name, nil, class: 'form-control', required: true) %>
                </div>
                <div class="form-group">
                  <%= label_tag(:email, 'Ваш email *') %>
                  <%= text_field_tag(:email, nil, type: :email, class: 'form-control', required: true) %>
                </div>
                <div class="form-group">
                  <%= label_tag(:subject, 'Тема *') %>
                  <%= text_field_tag(:subject, nil, class: 'form-control', required: true) %>
                </div>
              </div>
              <div class="col-md-6">
              	<div class="form-group">
                  <%= label_tag(:message_text, 'Ваше сообщение *') %>
                  <%= text_area(:message_text, nil, class: 'form-control hasPlaceholder', required: true) %>
                </div>
                <div class="form-group text-right">
                  <%= submit_tag('Отправить', class: 'btn btn-info btn-large') %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
